* {
  font-size: 16px;
  min-height: 0;
  border-radius: 1rem;
  padding: 0.1rem;
  font-family: "FiraCode Nerd Font", monospace;

}

window#waybar {
  background: rgba(55, 113, 200, 255);
}

#custom-fedoraicon{
  font-size: 20px;
  color: #ffffff;
  margin-left: 10px;
  margin-right: 5px;
}

#clock{
  color: #ffffff;
  font-size: 20px;
}

#network{
  color: #ffffff; 
  margin-right: 10px;
  font-size: 20px;
}

#bluetooth{
  color: #ffffff;
  margin-right: 10px;
  font-size: 20px;
}

#pulseaudio{
  color: #ffffff;
  margin-right: 10px;
  font-size: 20px;
}

#battery{
  color: #ffffff;
  margin-right: 10px;
  font-size: 20px;
}

#custom-power{
  color: #ffffff;
  margin-right: 10px;
  font-size: 20px;
}
